{% trans %}
    <p>
        Clicking on the <strong>Pay Now</strong> button you will get redirected to the Eximbay site in order to complete your transaction.
        <br>
        You can only make payments for cards issued in the same country you are currently accessing.
    </p>
    <p>
        *This payment method is provided by Eximbay and is billed as <u>www.eximbay.com</u>.
    </p>
{% endtrans %}

<dl class="i-data-list">
    <dt>First name</dt>
    <dd>{{ registration.first_name }}</dd>
    <dt>Last name</dt>
    <dd>{{ registration.last_name }}</dd>
    <dt>Total amount</dt>
    <dd>{{ format_currency(amount, currency, locale=session.lang) }}</dd>
    <hr>
    <dt>Order ID</dt>
    <dd>{{ order_id }}</dd>
    <dt>Item name</dt>
    <dd>{{ item_name }}</dd>
</dl>

{% if test %}
    <hr>
    <p style="font-size:1.2em; padding-left:.5em; color:red">
        <em>{% trans %}Online payments are pending agency review; transactions will not be processed.{% endtrans %}</em>
    </p>
{% endif %}

{% if announcement %}
    <hr>
    <p style="text-align: center; font-size:1.2em; color:#3C3CFF">
        <em>{{ announcement }}</em>
    </p>
{% endif %}

<table class="i-table">
    <thead>
        <tr class="i-table">
            <th>
                Korean Credit Cards
            </th>
            <th>
                Global Credit Cards
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Shinhan, Samsung, KB, BC, Hyundai, Lotte, Woori, Hana, etc
                <br>
                <i>For domestic payments in South Korea only</i>
            </td>
            <td>
                VISA, MASTER, AMEX, JCB, UnionPay
            </td>
        </tr>
        <tr>
            <td>
                {% if korean %}
                    <a class="action-button" href="{{ url_for_plugin('payment_eximbay.init', registration.locator.registrant, issuer_country='KR') }}">
                        Pay Now: Korean
                    </a>
                {% else %}
                    <p style="text-align:center;"><i>- Not Available -</i></p>
                {% endif %}
            </td>
            <td>
                {% if global %}
                    <a class="action-button" href="{{ url_for_plugin('payment_eximbay.init', registration.locator.registrant) }}">
                        Pay Now: Global
                    </a>
                {% else %}
                    <p style="text-align:center;"><i>- Not Available -</i></p>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>


