{% trans %}
    <p>
        Clicking on the <strong>Pay Now</strong> button you will get redirected to the Eximbay site in order to complete your transaction.
        <br>
        You can only make payments for cards issued in the same country you are currently accessing.
    </p>
    <p>
        *This payment method is provided by Eximbay and is billed as <u>www.eximbay.com</u>.
    </p>
{% endtrans %}

<dl class="i-data-list">
    <dt>{% trans %}First name{% endtrans %}</dt>
    <dd>{{ registration.first_name }}</dd>
    <dt>{% trans %}Last name{% endtrans %}</dt>
    <dd>{{ registration.last_name }}</dd>
    <dt>{% trans %}Total amount{% endtrans %}</dt>
    <dd>{{ format_currency(amount, currency, locale=session.lang) }}</dd>
    <hr>
    <dt>{% trans %}Order ID{% endtrans %}</dt>
    <dd>{{ eximbay.ref }}</dd>
    <dt>{% trans %}Order Description{% endtrans %}</dt>
    <dd>{{ eximbay.item_0_product }}</dd>
</dl>

{% if not valid_trans %}
    <hr>
    <p style="font-size:1.2em; padding-left:.5em; color:red">
        <em>Online payments are under agency review; therefore, actual transaction will not be processed.</em>
    </p>
{% endif %}

<table class="i-table">
    <thead>
        <tr class="i-table">
            {% if eximbay_global %}
                <th>
                    Global Credit Cards
                </th>
            {% endif %}
            <th>
                Korean Credit Cards
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% if eximbay_global %}
                <td>
                    VISA, MASTER, AMEX, JCB, UnionPay
                </td>
            {% endif %}
            <td>
                Shinhan, Samsung, KB, BC, Hyundai, Lotte, Woori, Hana, etc
                <br>
                <i>For domestic payments in South Korea only</i>
            </td>
        </tr>
        <tr>
            {% if eximbay_global %}
                <td>
                    <form action="{{ payment_url }}" method="POST">
                        {% for key, value in eximbay_global.items() %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endfor %}
                        <button type="submit" class="action-button">{% trans %}Pay Now: Global{% endtrans %}</button>
                    </form>
                </td>
            {% endif %}
            <td>
                <form action="{{ payment_url }}" method="POST">
                    {% for key, value in eximbay.items() %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endfor %}
                    <button type="submit" class="action-button">{% trans %}Pay Now: Korean{% endtrans %}</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
