{% extends 'events/payment/transaction_details.html' %}
{% block details %}
    {% set txn = transaction.data.Transaction %}
    {% set fontColor = "inherit" if txn.valid_trans else "red" %}

    <hr>
    
    {% for label, value in {
        'Payment Order ID': txn.order_id or txn.ref,
        'Authorization Code': txn.auth_code or txn.authcode,
        'Timestamp': txn.resdt,
        'Message': txn.resmsg
    }.items() %}
        <dt>{% trans %}{{ label }}{% endtrans %}</dt>
        <dd style="color: {{ fontColor }};">{{ value }}</dd>
    {% endfor %}
{% endblock %}
