{% extends 'events/payment/transaction_details.html' %}
{% block details %}
    {% if transaction.data.Transaction %}
        <hr>
        {% if transaction.data.Transaction.valid_trans %}
            <dt>{% trans %}Payment Order ID{% endtrans %}</dt>
            <dd>{{ transaction.data.Transaction.ref }}</dd>
            <dt>{% trans %}Authorization Code{% endtrans %}</dt>
            <dd>{{ transaction.data.Transaction.authcode }}</dd>
            <dt>{% trans %}Timestamp{% endtrans %}</dt>
            <dd>{{ transaction.data.Transaction.resdt }}</dd>
            <dt>{% trans %}Message{% endtrans %}</dt>
            <dd>{{ transaction.data.Transaction.resmsg }}</dd>
        {% else %}
            <dt>{% trans %}Payment Order ID{% endtrans %}</dt>
            <dd style="color:red;">{{ transaction.data.Transaction.ref }}</dd>
            <dt>{% trans %}Authorization Code{% endtrans %}</dt>
            <dd style="color:red;">{{ transaction.data.Transaction.authcode }}</dd>
            <dt>{% trans %}Timestamp{% endtrans %}</dt>
            <dd style="color:red;">{{ transaction.data.Transaction.resdt }}</dd>
            <dt>{% trans %}Message{% endtrans %}</dt>
            <dd style="color:red;">{{ transaction.data.Transaction.resmsg }}</dd>
        {% endif %}
    {% endif %}
{% endblock %}
