{% extends 'emails/base_i18n.html' %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block subject -%}
    {% trans %}Eximbay Payment has failed{% endtrans %}
{%- endblock %}

{% block body -%}
    <p>
        Dear manager of the event: {{ event.title }},
    </p>

    <div class="content">
        <p>
        It appears that the payment of the registration with ID {{ registration.friendly_id }} has been failed.
        </p>
        <p>
            <ul>
                <li>Event: {{ event.title }}</li>
                <li>Name: {{ registration.full_name }}</li>
                <li>e-mail: {{ registration.email }}</li>
                
                <li>Order ID: {{ orderID }}</li>
                <li>Payment method: {{ paymethod }}</li>
                <li>Code: {{ errCode }}</li>
                <li>Message: {{ errMsg }}</li>
            </ul>
            {%- trans %}Detailed information about error code on this page:{% endtrans -%}
            <br>
            <a href="https://developer.eximbay.com/eximbay/api_sdk/code-error.html" target="_blank">Eximbay Error Code</a>
        </p>
        
        <p>
            {%- trans %}You can view registration details on this page:{% endtrans -%}<br>
            {% trans url=registration.display_regform_url, link='<a href="%s">'|format(registration.display_regform_url)|safe, endlink='</a>'|safe -%}
            {{ link }} {{ url }} {{ endlink }}
            {%- endtrans %}
        </p>

        <p>
            transferred data
            <ul>
            {% for key, value in data.items() %}
                <li>{{ key }}: {{ value }}</li>
            {% endfor %}
            </ul>
        </p>
    </div>
{%- endblock %}
