{% extends 'emails/base_i18n.html' %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block subject -%}
    {% trans %}Eximbay Payment error{% endtrans %}
{%- endblock %}

{% block body -%}
    <p>
        Dear manager of the event: {{ event.title }},
    </p>

    <div class="content">
        <p>
        It appears that the payment of the registration with ID {{ registration.friendly_id }} has been failed.
        </p>
        <p>
            <ul>
                <li>Event: {{ event.title }}</li>
                <li>Name: {{ registration.first_name }} {{ registration.last_name }}</li>
                <li>e-mail: {{ registration.email }}</li>
                <li>Paymethod: {{ paymethod }}</li>
                <li>Code: {{ errCode }}</li>
                <li>Message: {{ errMsg }}</li>
            </ul>
            {%- trans %}Detailed information check on this page:{% endtrans -%}<br>
            <a href="https://developer.eximbay.com/eng/api_sdk/code-error-en.html" target="_blank">Eximbay Docs</a>
        </p>
        
        <p>
            transfered data
            <ul>
            {% for key, value in data.items() %}
                <li>{{ key }}: {{ value }}</li>
            {% endfor %}
            </ul>
        </p>

        <p>
        Please, check with the registrant to see if there was some misunderstanding.
        </p>
    </div>

    <p>
        <div>
            {%- trans %}You can view registration details on this page:{% endtrans -%}<br>
            {link}
            {{ registration.locator.registrant }}
        </div>
    </p>
{%- endblock %}
